@import (inline) "../../node_modules/codemirror/lib/codemirror.css";
@import (inline) "../../node_modules/ultramarked/node_modules/highlight.js/styles/github.css";

.hljs {
  display: inline;
  border-radius: 3px;
  padding: 0.3em;
}

pre .hljs {
  display: block;
  padding: 0.5em;
}

.lesson-panel {
  float:       left;
  width:       30%;
  background:  #eee;
  border-right: 3px solid black;
  padding:     0.5rem;
  box-sizing:  border-box;
}

.work-panel {
  float:  right;
  width:  70%;
  background: #eee;
  box-sizing:  border-box;
}

html, body {
  margin:       0;
  padding:      0;
  font-family:  sans-serif;
  line-height: 1.5em;
}

a {
  color:            blue;
  text-decoration:  underline;
  cursor:           pointer;
}

#beginning-javascript, body, html,
.wrapper, .lesson-panel, .work-panel {
  height: 100%;
  overflow: hidden;
}


.worksheet-code {
  height:  50%;
  width:   50%;
  float:   left;
  box-sizing:  border-box;
  overflow: hidden;
  scroll: auto;

  .cm-s-default {
    height: 100%;
    padding: 0 0 4px;
  }
}

.worksheet-results {
  height:         50%;
  width:          50%;
  margin:         0;
  padding:        4px 0 0;
  overflow:       scroll;
  float:          right;
  font-size:      12px;
  line-height:    12px;
  background:     white;
  color:          #555;
  box-sizing:  border-box;
}

.worksheet-results__line {
  margin:   0;
  padding:  0;
  height:   12px;

  &.is-error {
    color: red;

  }
}

.output {
  height: 50%;

  clear: both;
  overflow: auto;
  padding: 0.5rem;

  box-sizing:  border-box;
  z-index: 1;
  position: relative;
  border-top: 3px solid black;

  pre {
    margin: 0;
  }
}

.lesson__count {
  margin-left:  0.5rem;
  font-size:    12px;

}

.lesson-panel {
  overflow: auto;
}

.lesson-steps {
  list-style:  none;
  padding:     0;
}


.lesson-step__problem,
.lesson-step__solution {
  transition:  opacity 0.2s linear;
  opacity:     0.0;
}

.lesson-step {
  &.is-next .lesson-step__problem {
    opacity: 1;
  }

  &.is-completed .lesson-step__solution ,
  &.is-completed .lesson-step__problem {
    opacity: 0.75;

  }
}
